<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>سرمایه بان || داشبورد</title>
  {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> {% endcomment %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  {% comment %} <link rel="stylesheet" href="styles.css"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="{% static 'js/persian-datepicker.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>

</head>

<body>

  <!-- Main content -->
  <main class="sb-main-dashboard">
      <!-- Navigation bar -->
    <nav>
      <div class="nav__brand">
        <img src="../static/imgs/logo.png" class="nav__brand-img" alt="">
      </div>
      <ul class="nav__main">
        <li><a href="#">پروفایل</a></li>
        <li><a href="#">تراکنش ها</a></li> 
        <li><a href="#">پس انداز ها</a></li>
      </ul>
      <ul class="nav__footer">
        <li><a href="#">خروج</a></li>
      </ul>
    </nav>

    <!-- Features section -->
    <section class="features">
      <p class="feature--head">{{ budget.user }}</p>
      <div class="feature feature--1">
        <div class="budget">
          <p class="budget-title">نام بودجه</p>
          <p class="budget-title">{{ budget.name }} </p>
        </div>
        <div class="budget">
          <p class="budget-title">مبلغ اولیه</p>
          <p class="budget-title">{{ budget.income }} تومان</p>
        </div>
        <div class="budget">
          <p class="budget-title">هدف</p>
          <p class="budget-title">{{ budget.savings_goal }} تومان</p>
        </div>
      </div>

      <div class="feature feature--2">
        <p class="text-center font-weight-bolder">تراکنش های اخیر</p>
        <hr >
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="fs-6">مبلغ</th>
              <th scope="col" class="fs-6">توضیحات</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transaction_list %}
            <tr>
              <td class="fs-6">{{ transaction.amount }} <span>تومان</span></td>
              <td class="fs-6">{{ transaction.description }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <p class="trans-more">ادامه</p>
      </div>

      <div class="feature feature--3 p-3">
        <p class="text-center font-weight-bolder">خرید جدید</p>
        <hr>
        {% load crispy_forms_tags %}
        <form method="post">
            {%csrf_token%}
            {%if form%}
            <div class="row bg-white">
                {%for field in form%}
                <div class="col-md-6 p-2 text-right" dir="rtl">{{field|as_crispy_field}}</div>
                {%endfor%}
            </div>
            {%endif%}
            <button type="submit"  class="btn btn-primary">ذخیره</button>
        </form>
      </div>
      <div class="feature feature--4">
        <input type="number" id="numberInput">
        <p class="text-center font-weight-bolder">دسته بندی بودجه</p>
        <hr >
        <table class="table">
          <thead>
            <tr>
              <th scope="col">نام بودجه</th>
              <th scope="col">مبلغ اولیه</th>
              <th scope="col">خرج شده</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in budgetCats %}
            <tr>
              <td>{{ transaction.name }}</td>
              <td>{{ transaction.allocated }}</td>
              <td>{{ transaction.spent }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </section>

  </main>
  
  <!-- Page footer -->
  <footer>
    <p>&copy; سرمایه بان 1402</p>  
    <script>

      // Select the input element
      function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }
      const input = document.getElementById("numberInput");

      input.addEventListener("input", function() {
        let formattedNum = input.value;

        // Remove commas 
        let numericVal = parseInt(formattedNum.replace(/,/g,""));
        this.value = numberWithCommas(this.value);
      });

      </script>
      <script>
        const input = document.getElementById('number'); 
        
        input.addEventListener('input', () => {
          console.log('typed');
        });
        </script>
  </footer>

</body>
</html>